body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
}

.navbar a.navbar-brand:hover {
    color: #00A3E0 !important;
    text-decoration: none;
}

.social a:link {
    color: black;
    text-decoration: none;
}

.social a:visited {
    color: black;
    text-decoration: none;
}

.social a:hover {
    color: white;
    text-decoration: none;
}

.social a:active {
    color: gray;
    text-decoration: none;
}

.logo-hero {
    width: 100%;
}

hr {
    max-width: 100px;
    margin: auto;
    border-width: 0.25em;
    border-color: rgba(34, 34, 34, 0.1);
}

.hero-bg {
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/Duy%20Nguyen%20-%202W3A2805.JPG");
    height: 80%;
}

.about-bg {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/Duy%20Nguyen%20-%202W3A2227.JPG");
    height: 30%;
}

.event-bg {
    position: relative;
    opacity: 0.90;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/Duy%20Nguyen%20-%202W3A2531.JPG");
    height: 60%;
}

.executive-bg {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/20170818_181450.jpg");
    height: 30%;
}

.member-bg {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/20170818_181450.jpg");
    height: 30%;
}

.executive-social a:link {
    color: gray;
    text-decoration: none;
}

.executive-social a:visited {
    color: gray;
    text-decoration: none;
}

.executive-social a:hover {
    color: gray;
    text-decoration: none;
}

.executive-social a:active {
    color: gray;
    text-decoration: none;
}

footer {
    background-color: #1976D2
}

.footer-text {
    padding: 3em 0em 1.5em 0em;
    color: #BBDEFB;
}

.footer-text a:link {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-text a:visited {
    color: #BBDEFB;
    text-decoration: none;
}

.footer-text a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-text a:active {
    color: #fff;
    text-decoration: none;
}

.signature-event {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.event-block {
    padding-bottom: 1em;
    padding-right: 0.5em;
}

.title-block {
    padding-bottom: 2em;
}

.signature-section {
    background-color: red;
}

.container-signature {
    background-color: ghostwhite;
    padding: 2em;
}

.title-block h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 50px;
}

.title-block p {
    text-align: center;
    letter-spacing: 1px;
    color: gray;
}

.social-bar {
    background-color: #BBDEFB
}

.title-page h2 {
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 50px;
}

.logo-center {
    width: 20%;
}

.container-about {
    padding: 2em 0em 2em 0em;
}

.executive-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 30px;
}

.numbers h1 {
    color: #1976D2;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 60px;
}

.numbers {
    padding: 0em 3.5em;
}

.numbers p {
    color: #2196F3;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
}

.numbers-text h2 {
    padding: 0.8em;
    color: #111;
    font-weight: 700;
    font-size: 45px;
}

.in-numbers {
    padding: 0em 1.3em;
}

.in-numbers p {
    color: #2196F3;
    font-weight: 200;
    letter-spacing: 1.8px;
    font-size: 18px;
}

.in-numbers h1 {
    color: #1976D2;
    font-weight: 700;
    font-size: 45px;
}

.event-name {
    padding: 0.38em;
    color: #111;
    font-weight: 700;
    font-size: 45px;
}

.executive-subtitle-muted {
    text-transform: lowercase;
    color: gray;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 14px;
}

.picture-box {
    padding: 0.35em;
    color: #111;
    font-weight: 700;
    font-size: 45px;
}

.name-box h5 {
    text-transform: uppercase;
    padding-top: 0.38em;
    color: #111;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.5px;
}

.event-title {
    padding: 0em;
}

.event-title p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 23px;
}

.nested-title {
    padding: 2em 0em 0em;
}

.nested-title p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 23px;
}

.event-carousel {
    padding: 0em 0em 2em;
}

.container-even {
    padding: 2em 0em 2em 0em;
}

.container-odd {
    padding: 2em 0em 2em 0em;
    background-color: #fafafa;
}
.event-text {
    padding: 1em 2em 1em;
}

.event-text img {
    padding: 0em 0em 2em;
}

.event-text p {
    color: #212121;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 20px;
}

.cc-event img {
    padding: 0em 2em 0em;
    width: 50%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}