body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navbar a.navbar-brand:hover {
    color: #00A3E0 !important;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: gray;
    text-decoration: none;
}

.jumbotron {
    border-radius: 0px;
}

.footer-copyright {
    padding: 10px 10px;
    color:gray;
}

.footer-copyright a:link {
    color: gray;
    text-decoration: none;
}

.footer-copyright a:visited {
    color: gray;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: gray;
    text-decoration: none;
}

.footer-copyright a:active {
    color: gray;
    text-decoration: none;
}

/* Container holding the image and the text */
.container-box {
    position: relative;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left {
    font-weight: 700;
    
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
}

.top-left h1 {
    font-size: 4em !important;
}

img {
 filter: blur(1px) grayscale(15%);
}
