body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h2.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
}

section {
    margin-top: 2em;
    margin-bottom: 4em;
}

img.profile {
    display: block;
    margin: auto;
}

footer {
    background-color: darkred;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 2em;
    color: white;
}

footer a:link, footer a:visited {
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

footer a:hover, footer a:active {
    background-color:gray;
}

#social a:link, #social a:visited {
    background-color: indianred;
    color: white;
    padding: 8px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#social a:hover, #social a:active {
    background-color: red;
}

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#wechat {
    background-color:forestgreen;
}

#qr {
    margin: 5% 25% 1%;
    width: 50%;
    border: 3px solid #7bb32e;
    padding: 10px;
    max-width: 600px;
}